# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
.vs/
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.nupkg
*.snk
*.psess
*.vsp
*.vspx
*.userprefs
*.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.ide
*.sln.ide
*.sln.ide.docstates
*.sln.ide.userosscache
*.sln.ide.suo
*.sln.ide.user.DS_Store

# Mac files
.DS_Store